
@{
    Layout = "_Layout";
    ViewBag.Title = ViewData["Title"];
}

<main role="main">
    <div class="jumbotron">
        <div class="container">
            <br />
            <div style="margin:10px 10px 10px 10px">
                <h2><u><b>Generate Password using Dependency Injection.</b></u></h2>
                <label><b>Generated Password</b>: @ViewData["RandomPassword"]</label>
            </div>
        </div>
    </div>
</main>